@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  background-color: #f0f4f8;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}
